
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/common.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/test.css" />
</head>
<body>
    <div> 
        <div class="header">HOÀNG VIỆT TRAVEL-CÔNG TY DU LỊCH UY TÍN HÀNG ĐẦU VIỆT NAM</div>
        <div class="banner">
            <span class="logo"></span>        
            <span><input id="search" name="searchBox" /><input id="btnSearch" type="submit" value="Tìm kiếm" /></span><br />
            <span id="txt1">BETTER THAN YOU EXPECTED!</span><br /><br />
            <span id="txt2">MEMBER OF HOANGVIET OPENTOUR GROUP (HVO)</span>
        </div>
        <div class="menu">
            <ul>
                <li>@Html.ActionLink("TRANG CHỦ","HomePage","test")</li>
                <li>@Html.ActionLink("GIỚI THIỆU","Intro","test")</li>
                <li>@Html.ActionLink("TOUR TRONG NƯỚC", "tourTrongNuoc", "tour")</li>
                <li>@Html.ActionLink("TOUR NƯỚC NGOÀI", "tourTrongNuoc", "tour")</li>
                <li>@Html.ActionLink("TIN  HOT", "tourTrongNuoc", "tour")</li>
                <li>@Html.ActionLink("ĐẶT PHÒNG", "tourTrongNuoc", "tour")</li>
                <li>@Html.ActionLink("VISA", "tourTrongNuoc", "tour")</li>
                <li>@Html.ActionLink("LỊCH TOUR", "lichTour", "tour")</li>
                <li>@Html.ActionLink("LIÊN HỆ","Contact","test")</li>
            </ul>
        </div>
        <div class="content">
            @RenderBody()
            <form method="get" action="/tour/timTour">
                <div class="formSearch">
                    <span id="formSearch-header">Tìm Tour</span>
                    <div class="formSearch-content">
                        <div class="loai-tour">
                            Loại tour
                            <select>
                                <option>Tour trong nước</option>
                            </select>
                        </div>
                        <div class="loai-tour">
                            Điểm khởi hành
                            <select>
                                <option>Tour trong nước</option>
                            </select>
                        </div>
                        <div class="loai-tour">
                            Điểm đến
                            <select>
                                <option>Tour trong nước</option>
                            </select>
                        </div>
                        <div class="loai-tour">
                            Ngày khời hành
                            <select>
                                <option>Tour trong nước</option>
                            </select>
                        </div>
                        <div class="loai-tour">
                            Giá tour
                            <select>
                                <option>Tour trong nước</option>
                            </select>
                        </div>
                        <button type="submit" >Tìm kiếm</button>
                    </div>  
                </div>
            </form>
          
        </div>
        <div class="bangKhen">
            <p style="color:#5ca038; font-size:20px;">UY TÍN ĐƯỢC KHẲNG ĐỊNH THEO THỜI GIAN</p>
            <img src="~/Content/image/bangkhen/anh_3.jpg" />
            <img src="~/Content/image/bangkhen/4_0.jpg" />
            <img src="~/Content/image/bangkhen/cup_0.png" />
            <img src="~/Content/image/bangkhen/cup_5.jpg" />
            <img src="~/Content/image/bangkhen/qr.jpg" />
            <img src="~/Content/image/bangkhen/san_pham_dich_vu_xuat_sac.jpg" />
            <img src="~/Content/image/bangkhen/unesco1 (1).jpg" />
            <img src="~/Content/image/bangkhen/unesco1.jpg" />
        </div>
        <div class="footer">
            <div class="footer-left">
                <p><strong style="font-size:25px">GÓC KHÁCH HÀNG</strong></p>
                Giới thiệu<br />
                Giấy phép lữ hành<br />
                Liên hệ<br />
                <p>Công ty cổ phần đầu từ du lịch Hoàng Việt</p>
                Mã số thuế/ Số QĐ thành lập: 0101594871<br />
                Trụ sở ĐKKD: Số 62, Trần Quốc Toản, P. Trần Hưng Đạo, Q. Hoàn Kiếm, Hà Nội<br />
                Điện thoại: 0243 719 2328 - Hotline: 0983 968 365 - Email: thangthomas@hoangviettravel.vn<br />
            </div>
            <div class="footer-center">
                TIN TỨC<br />
                Bản tin du lịch trong nước<br />
                Bản tin du lịch nước ngoài<br />
                <br />
                Văn Phòng Đà Nẵng<br />
                Nguyễn Thị Minh Khai, Q.Hải Châu, TP Đà Nẵng<br />
                Điện thoại: 0326111435<br />
            </div>
            <div class="footer-right">
                CƠ SỞ KINH DOANH<br />
                <br />
                Cơ Sở Yên Phụ : Tầng 3+4, 62A phố Yên Phụ (Yên Phụ nhỏ), quận Tây Hồ, Hà Nội<br />
                <br />
                Điện thoại:  024 - 3824 7555<br />
                <br />
                Cơ Sở Hồng Hà : 93 Hồng Hà, Ba Đình , Hà Nội<br />
                <br />
                Điện thoại : 024 - 37194188<br />
            </div>
        </div>
        <div class="dialog">
            <div class="dialog-model"></div>
            <div class="dialog-content">
                <div class="dialog-content-header">
                    ĐĂNG KÝ TOUR
                    <button class="dong"></button>
                </div>
               <div class="dialog-content-main">
                   <input type="text" placeholder="Họ và tên" /><br />
                   <input type="text" placeholder="Điện thoại" /><br />
                   <input class="noidung" type="text" placeholder="Nội dung" /><br />
                   <button>Gửi yêu cầu</button>
               </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery-3.5.1.min.js"></script>
    <script src="~/js/dialog.js"></script>
</body>
</html>
